{% extends 'layouts/general-layout.html' %}

{% block title %}
Editar Comentario
{% endblock %}

{% block page_content %}
<div class="min-h-full w-full py-8 max-w-4xl mx-auto">
    <h1 class="text-3xl font-bold mb-4">Editar Comentario</h1>
    <form method="POST" class="flex flex-col gap-4 bg-white dark:bg-slate-800 p-6 rounded-lg shadow-md border border-gray-100 dark:border-slate-700">
        {% csrf_token %}
        {{ form.content }}
        <button type="submit" class="px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700">Guardar cambios</button>
    </form>
</div>
{% endblock %}
