<!-- prettier-ignore -->
{% extends 'layouts/general-layout.html' %}
{% load static %}
{% block title %} Perfil de Usuario {% endblock %}
{% block page_content %}
<div class="min-h-full w-full py-8">
  <h1 class="max-w-4xl mx-auto text-3xl font-bold mb-4">Datos de Usuario</h1>
  <section
    class="mb-8 p-auto max-w-4xl mx-auto px-4 bg-white dark:bg-slate-800 rounded-lg shadow-md overflow-hidden hover:shadow-xl transition-shadow duration-300 border border-gray-100 dark:border-slate-700"
  >
    <div class="flex flex-row items-top gap-8 py-4">
      <div class="w-[200px] h-[200px] bg-gray-500 rounded-full overflow-hidden">
        <img
          src="{{ request.user.get_avatar_url|default:'/static/img/default-user.png' }}"
          alt="Avatar del usuario"
          class="w-full h-full object-cover rounded-full"
        >
      </div>


      <div class="flex flex-col gap-6 mt-4">
        <h2 class="text-xl font-semibold">{{ request.user.first_name }} {{ request.user.last_name }}</h2>
        <p class="text-gray-300 text-sm">Rol: {{ request.user.groups.first.name|default:"Sin Rol" }}</p>
        <p class="text-gray-350 text-sm">
          Escuela: {{ request.user.school }}
        </p>
        <p class="text-gray-400 text-sm">{{ request.user.email }}</p>
      </div>

      <div class="ml-auto mt-auto mb-2 flex flex-col h-full">
        <a
          href="{% url 'user:user-update' %}"
          class="px-3 py-1 bg-blue-600 rounded-md text-white mt-auto"
          >Editar Perfil</a>
      </div>
    </div>
  </section>

  <h3 class="max-w-4xl mx-auto text-2xl font-bold mb-4">Últimos posts</h3>
<section
  class="pt-8 mb-8 p-auto max-w-4xl mx-auto px-4 bg-white dark:bg-slate-800 rounded-lg shadow-md overflow-hidden hover:shadow-xl transition-shadow duration-300 border border-gray-100 dark:border-slate-700">

  {% if user_posts %}
    <div class="flex flex-col gap-4">
      {% for post in user_posts %}
        <article class="p-4 bg-gray-50 dark:bg-slate-700 border rounded shadow">
          <h4 class="text-lg font-semibold">{{ post.title }}</h4>

          <p class="text-gray-400 text-sm">
            {{ post.created_at|date:"d/m/Y H:i" }}
          </p>

          <p class="mt-2">{{ post.content|truncatechars:150 }}</p>

          <a href="{% url 'blog:post-detail' post.slug %}"
             class="text-blue-500 mt-2 inline-block">
            Ver post
          </a>
        </article>
      {% endfor %}
    </div>

  {% else %}
    <p class="text-gray-400 text-center pb-4">
      Todavía no has creado ningún post.
    </p>
  {% endif %}

</section>

  <h3 class="max-w-4xl mx-auto text-2xl font-bold mb-4">Ultimos Comentarios</h3>
  <section
    class="pt-8 mb-8 p-auto max-w-4xl mx-auto px-4 bg-white dark:bg-slate-800 rounded-lg shadow-md overflow-hidden hover:shadow-xl transition-shadow duration-300 border border-gray-100 dark:border-slate-700">
    {% if user_comments %}
    <div class="flex flex-col gap-4">
      {% for comment in user_comments %}
        <article class="p-4 rounded-md bg-gray-50 dark:bg-slate-700 border shadow">
          <p class="text-sm text-gray-300 italic">
              En el post: <strong>{{ comment.post.title }}</strong>
          </p>
          <p class="mt-2">{{ comment.content|truncatechars:150 }}</p>
          <p class="text-gray-400 text-xs mt-1">
              {{ comment.created_at|date:"d/m/Y H:i" }}
          </p>
          <a href="{% url 'blog:post-detail' comment.post.slug %}"
              class="text-blue-500 mt-2 inline-block">Ver post</a>
        </article>
      {% endfor %}
    </div>
  {% else %}
    <p class="text-gray-400 text-center pb-4">Todavía no has comentado ningún post.</p>
  {% endif %}
   <!-- Link Ver Todos -->
  </section>
  <div class="max-w-4xl mx-auto flex justify-center mb-8">
    <a
      href="{% url 'blog:post-create' %}"
      class="px-3 py-1 bg-blue-600 rounded-md text-white mt-auto"
    >
      Nuevo Post
    </a>
  </div>
  
</div>
{% endblock %}