<!-- prettier-ignore -->
{% extends "layouts/auth-layout.html" %}
{% block title %}Registro{% endblock %}

{% block page_content %}
<div
  class="w-full max-w-md bg-white dark:bg-slate-800 p-8 rounded-2xl shadow-lg"
>
  <h2
    class="text-3xl font-bold text-center text-gray-800 dark:text-gray-100 mb-6"
  >
    Crear tu cuenta en <span class="text-blue-600">AulaNet</span>
  </h2>

  <form method="POST" class="space-y-4">
    <!-- prettier-ignore -->
    {% csrf_token %}

      {% if form.non_field_errors %}
    <div
      class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4 text-sm"
    >
      {{ form.non_field_errors }}
    </div>
    <!-- prettier-ignore -->
    {% endif %}

      {% for field in form %}
    <div>
      <label class="block text-gray-700 dark:text-gray-200 font-medium mb-1">
        {{ field.label }}
      </label>
      <!-- prettier-ignore -->
      {{ field }}
        
        {% if field.help_text %}
      <p class="text-xs text-gray-500 dark:text-gray-400 mt-1">
        {{ field.help_text }}
      </p>
      <!-- prettier-ignore -->
      {% endif %}
        
        {% if field.errors %}
      <p class="text-red-500 text-xs mt-1">{{ field.errors.0 }}</p>
      {% endif %}
    </div>
    {% endfor %}

    <button
      type="submit"
      class="w-full bg-blue-600 hover:bg-blue-700 text-white py-2 rounded-lg font-semibold transition mt-4"
    >
      Registrarse
    </button>

    <p class="text-center text-gray-600 dark:text-gray-300 text-sm mt-3">
      ¿Ya tienes cuenta?
      <a href="{% url 'user:login' %}" class="text-blue-600 hover:underline"
        >Inicia sesión aquí</a
      >
    </p>
  </form>
</div>
{% endblock page_content %}
